@import 'reset';
@import 'mixins';
@import 'constants';
@import 'message';
@import 'articles';

.block {
    &__element {
        display: flex;
    }
    &--modifier {
    }
}

.row {
  lost-utility: clearfix;
}

.quarter {
  lost-column: 1/4 0;
  background-color: yellow;
}

.half {
  lost-column: 1/2 0;
  background-color: red;
}

h1 { @include headline($base-color, 12px);}
